@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="beforeArticles">
    <h1>Categories</h1>
    <p>
        <a class="btn background-blue text-lightest" asp-action="Create">Create New</a>
    </p>
</div>
<div class="articleContainer">
@foreach (var item in Model)
{
    <article>
        <picture>
            <img src="@("~/Images/"+item.ImageName)" alt="" asp-append-version="true" />
        </picture>
        <h2>
            @Html.DisplayFor(modelItem => item.Title)
        </h2>
        <p>
            <span>@Html.DisplayNameFor(model => model.Color): </span>@Html.DisplayFor(modelItem => item.Color)
        </p>
        <p>
            <span>@Html.DisplayNameFor(model => model.ImageTitle): </span>@Html.DisplayFor(modelItem => item.ImageTitle)
        </p>
        <p>
            <span>Visual Representation:</span>
            <button class="btn text-darkest" style="background-color:@item.Color">@Html.DisplayFor(modelItem => item.Title)</button>
        </p>
        <div class="crudDiv">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </article>
}
</div>